<div class="row d-flex justify-content-center p-3">
  <div class="card mt-5 col-12 col-sm-7 col-md-5 p-0">
    <div class="card-header b-0 p-2 mb-3">
      <h2 class="text-center">Books</h2>
      <% if flash[:notice].present? %>
        <div class="alert alert-success mt-3 text-center">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </div>

    <div class="card-content w-100 px-3">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form" }) do |form| %>
        <%= form.text_field :login, autofocus: true, placeholder: 'Phone Number or Email',  class: 'form-control mb-3' %>
        <%= form.password_field :password, autocomplete: "on", placeholder: 'Password',  class: 'form-control mb-3' %>
        <%= form.submit "Đăng Nhập", class: 'btn btn-success btn-block', role: "button", 'data-slide' => "next" %>
      <% end %>
    </div>
  </div>
</div>