<!-- Âm vực -->
<div class="row py-3 d-flex align-items-center">
  <span class="col-5 col-md-4">
    <span class="md-text mr-2">Âm điệu</span>
    <span id="badge-audio-pitch" class="badge badge-danger"></span>
  </span>
  <div class="col-md-8 col-7">
    <input type="range" class="custom-range w-100" id="audioPitch" min="0" max="2" step="0.05" onchange="cmAudio.updateConf.changePitch(this)">
  </div>
</div>
<!-- Tốc độ nói -->
<div class="row py-3 d-flex align-items-center">
  <span class="col-5 col-md-4">
    <span class="md-text">Tốc độ nói</span>
  </span>
  <div class="col-md-8 col-7 d-flex align-items-center">
    <div id="audio-down-speed" class="ml-auto btn btn-lg btn-outline-secondary" onclick="cmAudio.updateConf.changeSpeed('down')">
      <i class="fas fa-minus mx-2"></i>
    </div>
    <h3 id="audio-value-speed" class="ml-auto mr-auto big-text text-success m-0"></h3>
    <div id="audio-up-speed" class="mr-auto btn btn-lg btn-outline-secondary" onclick="cmAudio.updateConf.changeSpeed('up')">
      <i class="fas fa-plus mx-2"></i>
    </div>
  </div>
</div>
<div class="row py-3 d-flex align-items-center">
  <span class="col-5 col-md-4 md-text">Ngôn ngữ</span>
  <div id="setting-select-lang" class="col-md-8 col-7">
  </div>
</div>
<!-- Reading at -->
<div class="row py-3 d-flex align-items-center">
  <span class="col-5 col-md-4">
    <span class="md-text mr-2">Đọc đến</span>
    <span id="badge-audio-reading-at" class="badge badge-danger"></span>
  </span>
  <div class="col-md-8 col-7">
    <input type="range" class="custom-range w-100" id="audioChangeReading" min="0" max="" step="1" value="0" onchange="cmAudio.updateConf.changeReading(this)">
  </div>
</div>
<!-- Button -->
<div class="row px-2 mt-2 text-right">
  <div class="col-6 px-1">
    <span class="btn btn-secondary w-100" id="audio-btn-play" onclick="cmAudio.play()">
      <i class="fas fa-play"></i>
      <span class="d-block sm-text">Play</span>
    </span>
    <span class="btn btn-success w-100 sr-only" id="audio-btn-pause" onclick="cmAudio.pause()">
      <i class="fas fa-pause"></i>
      <span class="d-block sm-text">Pause</span>
    </span>
  </div>
  <div class="col-3 px-1">
    <span class="btn btn-danger w-100" onclick="cmAudio.updateConf.reset();">
      <i class="fas fa-exchange-alt"></i>
      <span class="d-block sm-text">Reset</span>
    </span>
  </div>
  <div class="col-3 px-1">
    <span class="btn btn-secondary w-100" onclick="cmAudio.updateConf.help();">
      <i class="fas fa-exchange-alt"></i>
      <span class="d-block sm-text">Help</span>
    </span>
  </div>
</div>