<div class="form-group">
  <select class="form-ctrl">
    <option> Lỗi hiển thị</option>
    <option> Lỗi dịch</option>
    <option> Lỗi chức năng</option>
    <option> Lỗi khác</option>
  </select>
</div>
<div class="form-group">
  <textarea class="form-ctrl" rows="6" placeholder="Mô tả chi tiết"></textarea>
</div>