<ul class="px-0">
  <li>
    <h4 class="ui horizontal pb-2 divider header text-muted">Background</h4>
    <div class="setting-option text-center">
      <span class="btn-circle mr-2 cm-bg2" data-bg="cm-bg2" data-wbg="bg-main-2"><i></i></span>
      <span class="btn-circle mr-2 cm-bg8" data-bg="cm-bg8" data-wbg="bg-main-8"><i></i></span>
      <span class="btn-circle mr-2 cm-bg3" data-bg="cm-bg3" data-wbg="bg-main-3"><i></i></span>
      <span class="btn-circle mr-2 cm-bg4" data-bg="cm-bg4" data-wbg="bg-main-4"><i></i></span>
      <span class="btn-circle mr-2 cm-bg5" data-bg="cm-bg5" data-wbg="bg-main-5"><i></i></span>
      <span class="btn-circle mr-2 cm-bg6" data-bg="cm-bg6" data-wbg="bg-main-6"><i></i></span>
      <span class="btn-circle mr-2 cm-bg7" data-bg="cm-bg7" data-wbg="bg-main-7"><i></i></span>
  </li>
  <li class="w-100">
    <h4 class="ui horizontal pt-3 pb-2 divider header text-muted">Cở chử</h4>
    <div class="setting-option text-center">
      <span class="btn btn-outline-warning" onclick="userSS.setFontSize()" >
        <i class="fas fa-minus"></i>
      </span>
      <span class="txt-center setting-site-label mx-2">aA</span>
      <span class="btn btn-outline-warning" onclick="userSS.setFontSize(1)"><i class="fas fa-plus"></i></span>
    </div>
  </li>
  <li>
    <h4 class="ui horizontal pt-3 pb-2 divider header text-muted">View</h4>
    <div class="setting-option text-center">
      <div class="btn btn-outline-secondary p-2 setting-view-swipe mr-2" onclick="userSS.setDisplayOption('swipe')">&nbsp;
        <i class="fas fa-directions"></i>&nbsp;
      </div>
      <div class="btn btn-outline-secondary p-2 setting-view-scroll" onclick="userSS.setDisplayOption('scroll')">&nbsp;
        <i class="fas fa-sort-amount-down-alt"></i>&nbsp;
      </div>
    </div>
  </li>
</ul>