.container {
  max-width: 660px !important;
}

#chap-ui {
  position: relative;
  height: 100%;

  // Body
  #cmBox_body {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    #cmBox-wrapper {
      padding: 0;
      font-size: 1rem;
      height: 100%;
      overflow-x: hidden;
      // overflow-x: overlay;

      -webkit-column-gap: 25px;
      -moz-column-gap: 25px;
      column-gap: 25px;

      column-fill: auto;
      -moz-column-fill: auto;
      display: inline-block;
      padding: 15px 0;
      padding-left: 25px;

      #cmBox-content {
        padding-right: 25px;
      }

      * {
        text-align: justify;
        text-justify: inter-word;

        &:first-letter {
          text-transform: capitalize;
          font-weight: bold;
          padding-left: 1.2rem;
        }
      }
    }

    #cmBox-footer {
      position: absolute;
      width: 100%;
      bottom: 0; left: 0;
      font-size: 10px;
      vertical-align: middle;
      padding: 0 10px;
      height: 16px;
      color: #4a2e2e;
      line-height: 14px;
      background: rgba(255,255,255,0.3);
    }

    #cmPoint-begin {
      float: left;
      margin-left: -25px;
    }

    #cmPoint-end {
      float: right;
      margin-right: -25px;
    }
  }

  // Footer
  #cmBox_footer {
    padding: 0 .75rem;
    background-color: orange;
    color: #4a2e2e;
    background: #eacc71;

    div {
      padding: .1rem;
    }

    span {
      font-size: 9px!important;
    }
  }

  // Aside
  #cmBox_bodyLeft, #cmBox_bodyRight {
    position: absolute;
    top: 0;
    height: 100%;
    width: 28%;
    z-index: 10;
    opacity: .7;
  }

  #cmBox_bodyLeft {
    left: 0;
  }

  #cmBox_bodyRight {
    right: 0;
  }

  #cmBox_mask {
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    z-index: 11;
  }

  #chap-list {
    z-index: 12;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .navbar * {
      color: #fff;
    }

    #chap-list-body {
      position: absolute;
      top: 50px;
      left: 0;
      overflow-y: scroll;
      overflow-x: hidden;
      width: 100%;

      li a {
        color: #494b4cd9;
        font-size: 1rem;
        padding-left: 5px;

        &:hover {
          color: #a208e3;
        }
      }

      &::-webkit-scrollbar {
        height: 3px;
        width: 5px!important;
        background-color: #F5F5F5;
      }
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      &::-webkit-scrollbar-thumb {
        background: #888;
      }
    }

    // Chaps list
    #chap-list-footer {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 55px;
      height: 55px;

      .page-link {
        padding: .8rem;
        border: none;
      }
    }
  }
}

/* Custom Scrollbar */
#cmBox-wrapper::-webkit-scrollbar {
  height: 0;
  width: 0!important;
  background-color: #F5F5F5;
}

// Modal
.setting-title {
  line-height: 3.5rem;
}

.setting-option {

  .btn-circle {
    position: relative;
    border-radius: 50%;
    line-height: 2.5rem;
    padding: 10px;
    border: 1px solid #999;

    &:hover {
      cursor: pointer;
    }

    i {
      padding: 10px;
      font-size: 20px;

      &.fa-check {
        padding: 0 !important;
      }
    }
  }
}