<div id="chap-list" class="container p-0 d-none">
  <!-- START: Chap list Header -->
  <nav class="navbar p-0 container text-center border-bottom chap-list-header">
    <ul class="nav big-font-size">
      <li class="nav-item" onclick="$cmTB.showChapList()">
        <a href="#" class="nav-link py-3 px-4">
          <i style="font-size: 1.2rem" class="fas fa-arrow-left"></i>
        </a>
      </li>
    </ul>
    <h4 class='p-0 m-0 mr-2'>
      Pham Nhan Tu Tien
    </h4>
    <div class="p-0 d-flex justify-content-end align-items-end">
        <ul class="nav big-font-size">
          <li class="nav-item" onclick="$cmTB.showChapList()">
            <a class="nav-link py-3 px-4" href="#">
              <i style="font-size: 1.2rem" class="far fa-times-circle"></i>
            </a>
          </li>
        </ul>
    </div>
  </nav>
  <!-- END: Chap list Header -->

  <div id="chap-list-body" class="border-bottom">
    <% items = [{name: 'name', link: '#'}]*50 %>
    <div class="row px-4">
      <% items.each_slice(25).to_a.each do |is| %>
        <ul class="col-12 col-md-6">
            <% is.each_with_index do |item, idx| %>
              <% borderCss = idx == 0 ? '' : 'border-top: 1px solid #71a3d5e3;' %>
              <li class="px-2">
                <a href="<%= item[:link] %>" class="py-2 font-weight-bolder row" style="<%= borderCss %>">
                  <%= "#{item[:name]} #{idx}"%>
                </a>
              </li>
            <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <!-- Footer -->
  <div id="chap-list-footer" class="row ml-0 w-100">
    <nav aria-label="Page navigation example">
      <ul class="pagination m-0">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
</div>

<script>
  $(function(){
    $('#chap-list-body').height(window.innerHeight - 105)
  });
</script>