<!-- Footer -->
<footer id="cmBox_footer" class="container-fluid clearfix fixed-bottom p-0 d-none border-top">
  <nav class="nav nav-pills nav-fill nav-justified px-0 py-0 container px-0">
    <a href="#" class="nav-item big-font-size px-0 py-3" data-url="#{get_next_chapter_path}">
      <i class="fas fa-chevron-circle-left"></i>
      <span class="d-none">Next</span>
    </a>
    <a href="#" class="nav-item big-font-size px-0 py-3" data-url="#{get_prev_chapter_path}">
      <i class="fas fa-chevron-circle-right"></i>
      <span class="d-none">Prev</span>
    </a>
    <a href="#" class="nav-item big-font-size px-0 py-3">
      <i class="far fa-heart"></i>
      <span class="d-none">Like</span>
    </a>
    <a href="#" class="nav-item big-font-size px-0 py-3">
      <i class="far fa-comments"></i>
      <span class="d-none">Comment</span>
    </a>
    <a href="#" class="nav-item big-font-size px-0 py-3" data-toggle="modal" data-target="#bug-modal">
      <i class="fas fa-bug"></i>
      <span class="d-none">Bug</span>
    </a>
  </nav>
</footer>
