<span id="cmPoint-begin"></span>
<%= (data_comic*1).html_safe %>
<!-- Hidden data -->
<%= hidden_field_tag('chap-id', @chap&.id) %>
<%= hidden_field_tag('chap-title', @chap&.title) %>
<%= hidden_field_tag('post-id', @post&.id) %>
<%= hidden_field_tag('total-chaps', @post&.total_chaps) %>
<%= hidden_field_tag('current-chap', @post&.order_c) %>
<span id="cmPoint-end"></span>