<!-- Header -->
<div id="cmBox_header" class="container-fluid fixed-top px-0 d-none border-bottom">
  <nav class="navbar p-0 container text-center">
    <ul class="nav big-font-size">
      <li class="nav-item">
        <a href="#" class="nav-link py-3 px-4 bg-secondary">
          <i class="fas fa-arrow-left"></i>
        </a>
      </li>
      <li id="cmBox-fullscreen" data-device="android-chrome,chrome" class="nav-item" onclick="$cmUI.fullScreen()">
        <a class="nav-link py-3 px-4" href="#">
          <i class="fas fa-expand"></i>
        </a>
      </li>
      <li class="nav-item" data-toggle="modal" data-target="#list-chap-modal" onclick="$cmTB.showChapList()">
        <a href="#" class="nav-link py-3 px-4" >
          <i class="fas fa-list-ul"></i>
        </a>
      </li>
    </ul>

    <div class="p-0 d-flex justify-content-end align-items-end">
        <ul class="nav big-font-size">
          <li id="btn-audio" data-device="android-chrome" class="nav-item" onclick="$cmTB.modal.audio()">
            <a class="nav-link py-3 px-4" href="#">
              <i class="fas fa-headphones"></i>
            </a>
          </li>
          <li class="nav-item" onclick="$cmTB.modal.setting()">
            <a class="nav-link py-3 px-4" href="#" >
              <i class="fas fa-cog"></i>
            </a>
          </li>
        </ul>
    </div>
  </nav>
</div>
