<!-- Modal setting
============================================ -->
<div id="cmBox-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header p-3 alert-warning">
        <h4 class="cm-modal-title w-100">
          <span class="upcase pt-1">Cài đặt</span>
          <button type="button" class="close float-right p-2" data-dismiss="modal" aria-label="Close">
            <i class="far fa-times-circle float-right" style="font-size: 30px;"></i>
          </button>
        </h4>
      </div>

      <div class="modal-body">
        <div id="setting-modal" class="d-none">
          <%= render 'clients/chaps/components/modals/setting' %>
        </div>
        <div id="audio-modal" class="d-none">
          <%= render 'clients/chaps/components/modals/audio' %>
        </div>
        <div id="feedback-modal" class="d-none">
          <%= render 'clients/chaps/components/modals/feedback' %>
        </div>
      </div>
    </div>
  </div>
</div>