<% content_for :header do %>
  <% @chap = Chap.new %>
  <% @meta_data = { title: @chap.title, description: @chap.description, type: 'chap' } %>
  <%= render 'layouts/components/header_meta_tag' %>
<% end %>

<div id="chap-ui" class="container noselect">
  <div id="cmBox_body">
    <div id="cmBox-wrapper">
      <div id="cmBox-content">
        <%= render 'clients/chaps/components/chap_content' %>
      </div>
      <div id="cmBox-footer" class="pl-0"></div>
    </div>

    <div id="cmBox_bodyLeft" onclick="$cmUI.leftClick()"></div>
    <div id="cmBox_bodyRight" onclick="$cmUI.rightClick()"></div>
  </div>

  <div id="cmBox_mask" class="d-none"></div>
  <!-- Partial -->
  <%= render 'clients/chaps/components/chap_header' %>
  <%= render 'clients/chaps/components/chap_footer' %>
  <%= render 'clients/chaps/components/modal' %>
  <%= render 'clients/chaps/components/chaps_list' %>
</div>

<script>
  $(function(){
    $cmUI.init();
    $cmTB.init();
    let $cmUIState = null;

    $(window).on('resize', function(){
      clearTimeout($cmUIState);
      $cmUIState = setTimeout(function(){
        $cmUI.init();
        $cmUI.getBoxWidth();
        $cmUI.countTotalPage();
        $cmUI.drawCMFooter();
      }, 200);
    });
  })
</script>