// comic backgroud
.cm-bg2 {
  background-color: #d9cdb6;

  #cmBox_header, footer {
    background: #afad8a !important;

    a { color: #fff; }
  }

  .chap-list-header {
    background: #1d76aa;
  }

  .nav-item:hover {
    background: #333;
  }

  #cmBox-wrapper, &.btn-circle {
    background: #f3e9c6 url(/assets/bg/theme_1_bg.1ae7b.png) repeat!important;
    color: #262626;
  }
}

.cm-bg3 {
  background-color: #c4ccc0;

  #cmBox_header, footer, .chap-list-header {
    background: cadetblue !important;

    a { color: #fff; }
  }

  .nav-item:hover {
    background: #333;
  }

  #cmBox-wrapper, &.btn-circle {
    background: #e2eee2 url(/assets/bg/theme_2_bg.b6f68.png) repeat!important;
    color: #262626;
  }
}

.cm-bg4 {
  background-color: #b9c1c9;

  #cmBox_header, footer, .chap-list-header {
    background: #59727a !important;

    a { color: #fff; }
  }

  .nav-item:hover {
    background: #333;
  }

  #cmBox-wrapper, &.btn-circle {
    background: #e2eff3 url(/assets/bg/theme_3_bg.31237.png) repeat!important;
    color: #262626;
  }
}

.cm-bg5 {
  background-color: #d4c7cc;

  #cmBox_header, footer, .chap-list-header {
    background: #cfa0ca !important;

    a { color: #fff; }
  }

  .nav-item:hover {
    background: #333;
  }

  #cmBox-wrapper, &.btn-circle {
    background: #f5e4e4!important;
    color: #262626;
  }
}

.cm-bg6 {
  background-color: #b8b8b8;

  #cmBox_header, footer, .chap-list-header {
    background: #a95151 !important;

    a { color: #fff; }
  }

  .nav-item:hover {
    background: #333;
  }

  #cmBox-wrapper, &.btn-circle {
    background: #dcdcdc url(/assets/bg/theme_5_bg.3f715.png) repeat!important;
    color: #262626;
  }
}

.cm-bg7 {
  background-color: #b8b8b8;

  #cmBox_header, footer, .chap-list-header {
    background: slategrey !important;

    a { color: #fff; }
  }

  .nav-item:hover {
    background: #333;
  }

  .nav-item:hover {
    background: #757575;
  }

  #cmBox-wrapper, &.btn-circle {
    background: #111 url(/assets/bg/theme_6_bg.45ad3.png) repeat!important;
    // border: 1px solid #444;
    color: #666;
  }
}

.cm-bg8 {
  background-color: #d6d5c1;

  #cmBox_header, footer, .chap-list-header {
    background: #e0cb84 !important;

    a { color: #fff; }
  }

  .nav-item:hover {
    background: #333;
  }

  #cmBox-wrapper, &.btn-circle {
    background: url(/assets/bg/bg6.jpg) center top repeat-x #f9f7e3!important;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.05);
  }
}

.bg-main-1 { background-color: #d9cdb6; }
.bg-main-2 { background-color: #d9cdb6; }
.bg-main-3 { background-color: #c4ccc0; }
.bg-main-4 { background: #b9c1c9; }
.bg-main-5 { background: #d4c7cc; }
.bg-main-6 { background: #b8b8b8;}
.bg-main-7 { background: #b8b8b8; }
.bg-main-8 { background: #d6d5c1; }
