<title>
  <%= @meta_data[:title] || 'Book' %>
</title>

<% if @meta_data[:title] %>
  <meta name="description" itemprop="name" content="<%= @meta_data[:title] %>">
<% end %>

<% if @meta_data[:description] %>
  <meta name="description" itemprop="description" content="<%= @meta_data[:description] %>">
<% end %>

<% if @meta_data[:image] %>
  <meta name="image" itemprop="image" content="<%= @meta_data[:image] %>">
<% end %>
