<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1, user-scalable=no">
  <title>Books Admin</title>
  <%= csrf_meta_tags %>

  <!-- CSS HTTP2 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"/>
  <%= stylesheet_link_tag    'admin', media: 'all' %>

  <%= javascript_include_tag 'admin' %>
</head>
<body class="no-p" id="admin-container">
  <div class="container">
    <% if notice %>
      <div class="alert alert-success" role="alert" >
        <%= notice %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
