<% content_for :header do %>
  <title>
    <%= @book.title %>
  </title>
  <meta name="description" content="<%= @book.des %>">
  <meta property="og:type" content="book">
  <meta property="og:title" content="<%= @book.title %>">
  <% if @book.descr %>
    <meta property="og:description" content="<%= @book.descr %>">
  <% end %>
  <% if @book.image %>
    <meta property="og:image" content="<%= "#{request.protocol}#{request.host_with_port}#{@book.main_image}" %>">
  <% end %>
<% end %>